SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
USE_X_FORWARDED_HOST=
SECURE_PROXY_SSL_HEADER=
PAPERLESS_URL=
BASE_URL=
ENABLE_AUTO_UPDATE_LINKS=
ANNO_SERIALIZER=
UPDATE_INTERVAL_MINS=
ANNO_STORAGE=
LOG_LEVEL=