version: "3.9"

services:
  web:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=core.settings
    volumes:
      - ./db/:/app/db/
      - ./note_annotation.template:/app/note_annotation.template
      # - ./logs/:/app/logs/
    restart: unless-stopped
